accelerate==1.6.0
fastapi==0.115.12
Flask==3.1.0
huggingface-hub==0.30.1
numpy==1.23.5
pandas==2.2.3
pyarrow==19.0.1
recbole==1.2.1
scikit-learn==1.6.1
scipy==1.15.2
streamlit==1.44.1
tensorboard==2.19.0
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchmetrics==1.7.0
torchvision==0.21.0+cu126
transformers==4.50.3
tqdm==4.67.1
uvicorn==0.34.0
